body{
	font-family: arial, sans-serif;
}
#logo {
	height: 192px;
	width: 576px;
	position:relative;
	margin-top: 100px;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    clear:both;
}
#searchbox {
	height: 24px;
	width: 572px;
	display:block;
	position: relative;
	margin: 16px auto 8px auto;
}
.searchBTN {
	display:inline-block;
	margin: 4px;
	border: 1px solid #f2f2f2;
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	line-height: 27px;
	color: #757575;
	border-radius: 2px;
	background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -linear-gradient(top,#f5f5f5,#f1f1f1);
}
.searchBTN:hover{
	font-weight: bold;
}
#signIn {
	background: -moz-linear-gradient(top,#4387fd,#4683ea);
	background: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background: -linear-gradient(top,#f5f5f5,#f1f1f1);
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	border: 1px solid #4285f4;
	border-radius: 2px;
	line-height: 28px;
	display:inline-block;
	padding: 0 12px;
	font-size: 13px;
	font-family: arial;
}
.navbar{
	list-style-type: none;
	display:block;
	margin: 10px 20px;
	padding:0px;
	float:right;
	font-family: arial;
	font-size: 13px;
	line-height: 28px;
}
li{
	display:inline;
}
a {
	text-decoration: none;
	color: rgb(34, 34, 34);
	padding:10px;
	display: block-inline;
}
body div div a{
	color:rgb(102, 102, 102);
}
.apps {
	/*background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
	background-size: 528px 68px;
	background-position: -132px -38px;
    position: absolute;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    display: inline;
    vertical-align:middle;
    border-radius: 2px;
    */
    background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
	background-position: -132px -38px;
	background-size: 528px 68px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: inline-block;
	font-family: arial,sans-serif;
	font-size: 13px;
	height: 30px;
	line-height: 15px;
	opacity: 0.55;
	outline-color: rgb(0, 0, 0);
	outline-style: none;
	outline-width: 0px;
	text-align: left;
	text-decoration: none;
	text-decoration-color: rgb(0, 0, 0);
	text-decoration-line: none;
	text-decoration-style: solid;
	vertical-align: middle;
	white-space: nowrap;
	width: 30px;


}
.footer {
	display:inline-block;
	position: fixed;
    bottom: 0;
    background-color: #FFF;
    width: 100%;
    font-size: small;
    line-height: 40px;
    color:rgb(102, 102, 102);
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -linear-gradient(top,#f5f5f5,#f1f1f1);
	border-top: 1px solid rgb(228, 228, 228);
	background-color: rgb(242, 242, 242);


}
.left{
	float:left;
	position: relative;
	padding-right: 5px;
	left: 30px;
}
.right {
	float:right;
	position:relative;
	padding-right: 5px;
	right: 30px;
}
